/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    height: 100vh;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    /* central el contenido horizontal y verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 50ch;
}

section:first-child {
    color: #fff;
}

section:first-child > h1 {
    font-size: 42px;
}

section:first-child > p {
    margin-top: 30px;
    margin-right: 30px;
    font-size: 15px;
}

section:last-child > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    margin-top: 20px;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.22);
}

.btn {
    color: #fff;
    text-align: center;
    /* esta propiedad remueve el subrayado del a */
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 8px;
    border: none;
}

section:last-child > a:first-child {
    background-color: hsl(248, 32%, 49%);
    display: block;
    box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.22);
}

section:last-child > form > button {
    background-color: hsl(154, 59%, 51%);
    /* transforma el texto en mayuscula */
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    /* cambia el peso de la fuenta a negrita bold = negrita */
    font-weight: 600;
    box-shadow: 0px 3px 0px 0px rgba(42,162,110,1)
}

input {
    padding: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 8px;
    border: solid 1px rgb(191, 191, 191);
}

section:last-child > form > p {
    font-size: 10px;
    font-weight: 600;
    color: rgb(191, 191, 191);
    text-align: center;
}

section:last-child > form > p > a {
    text-decoration: none;
    color: rgb(255, 128, 128);
}